:focus {
    outline: none;
}


/* start */

body {
    background: #C0392B;
}

.main {
    width: 100%;
    height: 100%;
}

.titleCal {
    margin: 50px 690px 0 0;
    direction: rtl;
    font-size: 45px;
    color: #fdfdfd;
}

.calculator {
    width: 400px;
    height: 550px;
    background: #fdfdfd;
    margin: 60px auto;
    border: 17px solid #500511;
    border-radius: 20px;
}

.result {
    width: 100%;
    height: 20%;
    float: right;
    direction: ltr;
}

.result #memory {
    float: left;
    width: 100%;
    height: 30px;
    font-size: 20px;
    color: #ee0e33;
    margin: 27px 0 0 30px;
}

.result #res {
    width: 90%;
    height: 50px;
    margin: 5px 0 20px 10px;
    color: #ee0e33;
    font-size: 40px;
    float: left;
    border-bottom: 1px solid rgb(88, 88, 88);
}

.numbers {
    width: 75%;
    height: 50%;
    padding-top: 10px;
    padding-left: 5px;
    float: left;
}

.numbers input {
    width: 70px;
    height: 70px;
    font-size: 40px;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 40px;
}

.numbers input:focus {
    border: 5px solid #ee0e33;
    color: #ee0e33;
}

.numbers input:focus {
    outline: none
}

.operator {
    width: 85px;
    height: 450px;
    float: right;
    margin: 5px 10px 0 0;
}

.operator input {
    width: 70px;
    height: 70px;
    font-size: 35px;
    margin-right: 35px;
    margin-top: 10px;
    border-radius: 40px;
    background: #ee0e33;
    color: #fdfdfd;
}

.operator input:focus {
    background: #fdfdfd;
    color: #ee0e33;
    border: 2px solid #ee0e33;
}

.operator input:first-child {
    margin-top: 15px;
}

.reset {
    width: 75%;
    height: 80px;
    float: right;
}

.reset input {
    width: 70px;
    height: 70px;
    font-size: 30px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 40px;
    background: #202b36;
    color: #fdfdfd;
}

.reset input:focus {
    background: #fdfdfd;
    color: #202b36;
    border: 2px solid #202b36;
}

.reset input:last-child {
    background: #ee0e33;
}

.reset input:last-child:focus {
    background: #fdfdfd;
    color: #ee0e33;
    border: 2px solid #ee0e33;
}