.main {
    width: 100%;
    height: 100%;
}

.titleCal {
    margin: 50px 680px 0 0;
    direction: rtl;
    font-size: 50px;
}

.calculator {
    width: 400px;
    height: 550px;
    background: #333;
    margin: 60px auto;
}

.result {
    width: 100%;
    height: 20%;
    float: right;
    direction: rtl;
}

.result #memory {
    float: right;
    width: 100%;
    height: 30px;
    font-size: 20px;
    color: #fdfdfd;
    margin: 17px 10px 0 0;
}

.result #resultall {
    width: 100%;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin: 15px 10px 10px 0;
    color: #fdfdfd;
    font-size: 40px;
    float: right;
}

.numbers {
    width: 75%;
    height: 50%;
    padding-top: 10px;
    padding-left: 5px;
    float: left;
}

.numbers input {
    width: 87px;
    height: 80px;
    font-size: 40px;
    margin-left: 5px;
    margin-top: 5px;
}

.operator {
    width: 85px;
    height: 450px;
    float: right;
    margin: 5px 10px 0 0;
}

.operator input {
    width: 87px;
    height: 80px;
    font-size: 40px;
    margin-right: 25px;
    margin-top: 5px;
}

.reset {
    width: 75%;
    height: 80px;
    float: right;
    margin: 3px 0 0 5px;
}

.reset input {
    width: 87px;
    height: 80px;
    font-size: 40px;
    margin-left: 5px;
    margin-top: 5px;
}